.profileScreen {
    height: 100vh;
    color: white;
    background-color: #111;
}

.profileScreen__body {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    max-width: 800px;
}

.profileScreen__body h1 {
    font-size: 60px;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;
}

.profileScreen__info {
    display: flex;
}

.profileScreen__avatarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.profileScreen__avatarContainer img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.profileScreen__details {
    flex: 1;
}

.profileScreen__details h2 {
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
}

.profileScreen__plans {
    margin-top: 20px;
}

.profileScreen__plans h3 {
    border-bottom: 1px solid #282c2d;
    padding-bottom: 10px;
}

.profileScreen__form {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.profileScreen__input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: #333;
    border: none;
    color: white;
    outline: none;
}

.custom-file-upload {
    font-size: 12px;
    cursor: pointer;
    background-color: #e50914;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    margin-top: 5px;
}

input[type="file"] {
    display: none;
}

.profileScreen__save {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #e50914;
    border: none;
    cursor: pointer;
    font-weight: 600;
    width: 100%;
}

.profileScreen__signOut {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    color: white;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}