.signupScreen {
    position: relative;
    height: 100vh;
    background: url('https://assets.nflxext.com/ffe/siteui/vlv3/f841d4c7-10e1-40af-bcae-07a3f8dc141a/f6d7434e-d6de-4185-a6d4-c77a2d08737b/US-en-20220502-popsignuptwoweeks-perspective_alpha_website_medium.jpg') center no-repeat;
    background-size: cover;
}

.signupScreen__background {
    width: 100%;
    height: 100%;
}

.signupScreen__logo {
    position: fixed;
    left: 20px;
    width: 150px;
    object-fit: contain;
    top: 20px;
}

.signupScreen__button {
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #e50914;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 4px;
}

.signupScreen__gradient {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top,
            rgba(0, 0, 0, 0.8) 0,
            rgba(0, 0, 0, 0) 60%,
            rgba(0, 0, 0, 0.8) 100%);
}

.signupScreen__body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.75);
    padding: 60px;
    width: 450px;
    min-height: 550px;
    border-radius: 4px;
    color: white;
}

.signupScreen__body h1 {
    font-size: 32px;
    margin-bottom: 28px;
    font-weight: 700;
}

.signupScreen__form form {
    display: flex;
    flex-direction: column;
}

.signupScreen__form input {
    padding: 16px 20px;
    outline-width: 0;
    height: 50px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: none;
    background-color: #333;
    color: white;
    font-size: 16px;
}

.signupScreen__form button {
    padding: 16px;
    font-size: 1rem;
    color: white;
    border-radius: 4px;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 24px;
    margin-bottom: 12px;
}

.signupScreen__form button:hover {
    background-color: #c40812;
}

.signupScreen__text {
    margin-top: 30px;
    font-size: 16px;
    color: #737373;
}

.signupScreen__link {
    color: white;
    text-decoration: none;
    margin-left: 5px;
}

.signupScreen__link:hover {
    text-decoration: underline;
}

.signupScreen__error {
    color: #e50914;
    margin-bottom: 10px;
    font-size: 14px;
}